name: Publish to PyPI

on:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"

permissions:
  contents: write
  id-token: write

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Check version
        id: check
        run: |
          VERSION=$(grep -m 1 'version = "' pyproject.toml | cut -d '"' -f 2)
          echo "Detected version: $VERSION"
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
          
          if git rev-parse "refs/tags/v$VERSION" >/dev/null 2>&1; then
            echo "Tag v$VERSION already exists."
            echo "skip=true" >> $GITHUB_OUTPUT
          else
            echo "Tag v$VERSION does not exist. Proceeding with release."
            echo "skip=false" >> $GITHUB_OUTPUT
          fi

      - name: Build
        if: steps.check.outputs.skip != 'true'
        run: |
          python -m pip install --upgrade pip build
          python -m build

      - name: Publish
        if: steps.check.outputs.skip != 'true'
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          attestations: false

      - name: Create Tag
        if: steps.check.outputs.skip != 'true'
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git tag "v${{ steps.check.outputs.VERSION }}"
          git push origin "v${{ steps.check.outputs.VERSION }}"
